/* Menu Button */
$hamburger-size: 27px;
$slice: $hamburger-size/9;
$padding: 35px;
$portrait: url('../img/portrait.jpg');

.menu-btn {
    position: absolute;
    z-index: 3;
    right: $padding;
    top: $padding;
    cursor: pointer;
    @include easeOut();

    .btn-line {
        width: $slice*9;
        height: $slice;
        margin: 0 0 $slice*2.1 0;
        background: set-text-color($primary-color);
        @include easeOut();
    }

    /* Rotate MenuLines into an X */
    &.close {
        .btn-line {
            /* Line 1 - rotate */
            &:nth-child(1) {
                transform: rotate(45deg) translate(3.675*$slice, 3.675*$slice);
            }
            /* Line 2 - hide */
            &:nth-child(2) {
                /* Can't do visibility: hidden; because it doesn't play nice with transitions */
                opacity: 0;
            }
            /* Line 3 - rotate */
            &:nth-child(3) {
                transform: rotate(-45deg) translate(0.7*$slice, -0.7*$slice);
            }
        }
    }
}

/* Menu overlay */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &-branding, &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;

        /* transition to normality when `show' class is there */
        @include easeOut;
        &.show {
            visibility: visible;
            transform: translate(0, 0);
        }
    }

    &-nav {
        margin: 0;
        padding: 0;
        list-style: none;

        background: darken($primary-color, 5);
        transform: translate(0, -100%);
    }

    &-branding {
        background: darken($primary-color, 0);
        transform: translate(0, 100%);

        .portrait {
            width: 250px;
            height: 250px;
            @include portrait;
        }
    }

    &-nav-item {
        transform: translate3d(600px, 0, 0);
            /* transition to normality when `show' class is there */
        @include easeOut;
        &.show {
            visibility: visible;
            transform: translate(0, 0);
        }

        &.current > a {
            color: $secondary-color;
        }
    }

    &-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

/* delay each nav item slide by 0.1 seconds */
@for $x from 1 through 4 {
    .menu-nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}



