.projects {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-size: cover;
    img {
        width: 100%;
        border: 3px set-text-color($primary-color) solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

.author {
    font-size: 75%;
    font-style: italic;
    margin: 0px;
}